/* App general styles */
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Improved hyperlink styles */
.App-link {
  color: #61dafb;
  font-weight: bold;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.App-link:hover {
  background-color: #61dafb;
  color: #282c34;
  text-decoration: none;
}

/* General link styles */
a:link, a:visited {
  color: #007bff;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s, color 0.3s;
}

a:hover, a:active {
  background-color: #0056b3;
  color: #ffffff;
}

/* Center alignment styles */
.center {
  text-align: center;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

/* Table styles */
.table-container {
  max-width: 90%;
  margin: 20px auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin: 10px;
}

.table th,
.table td {
  padding: 8px 16px;
  border: 1px solid #ccc;
  text-align: center;
}

.table th {
  background-color: #f0f0f0;
  color: #333;
  font-weight: bolder;
  font-size: large;
}

.table tbody tr.even {
  background-color: #f9f9f9;
}

.table tbody tr.odd {
  background-color: #e0e0e0;
}

/* Pagination styles */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  flex-wrap: wrap;
}

.pagination span,
.pagination button,
.pagination select,
.pagination input {
  margin: 0 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.pagination select,
.pagination input {
  padding: 6px 10px;
}

/* Source cell link styles */
.sources-cell {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.sources-cell a {
  display: inline-block;
  padding: 6px 12px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.sources-cell a:hover {
  background-color: #0056b3;
}

/* Search bar styles */
.search-bar {
  text-align: center;
  margin-bottom: 20px;
}

.search-input {
  width: 80%;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* Overlay styles */
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

/* Close button styles */
.close-button {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

.close-button:hover {
  background-color: #c9302c;
}
